## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(1, 101), 80)

print(sample_list_1)
print("\nLenght of the sample is", len(sample_list_1))

[23, 33, 54, 39, 24, 47, 30, 44, 74, 91, 51, 82, 41, 35, 80, 27, 21, 2, 66, 97, 63, 42, 20, 31, 69, 38, 3, 7, 76, 90, 100, 43, 81, 64, 45, 10, 79, 70, 75, 8, 85, 57, 73, 92, 22, 55, 36, 15, 52, 60, 6, 56, 89, 95, 65, 71, 67, 68, 84, 19, 4, 61, 14, 86, 37, 13, 96, 94, 88, 62, 59, 53, 83, 77, 25, 98, 9, 48, 99, 18]

Lenght of the sample is 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)

print(set1)
print("\nLenght of the set is", len(set1))
print("Yes, it's still the same length!")

{2, 3, 4, 6, 7, 8, 9, 10, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 27, 30, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

Lenght of the set is 80
Yes, it's still the same length!

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
rnd = 0

for z in range(0, 80):
    rnd = random.randint(1,100)
    sample_list_2.append(rnd)

print(sample_list_2)
print("\nLenght of the list is :", len(sample_list_2))

[77, 92, 80, 7, 39, 85, 74, 53, 43, 66, 57, 34, 7, 1, 34, 8, 16, 3, 3, 4, 78, 30, 45, 45, 5, 88, 22, 38, 27, 1, 96, 94, 16, 58, 26, 24, 13, 79, 96, 56, 20, 32, 80, 81, 52, 3, 63, 41, 99, 97, 41, 82, 69, 30, 20, 78, 4, 37, 34, 71, 72, 78, 10, 78, 78, 50, 90, 33, 95, 10, 3, 18, 87, 32, 80, 46, 91, 88, 5, 6]

Lenght of the list is : 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)

print(set2)
print("\nLenght of the sample is :", len(set2), "\n")

if len(set2) == len(sample_list_2):
    print("Yes, it's still the same length!")
else:
    print("No, the length is different!")

{1, 3, 4, 5, 6, 7, 8, 10, 13, 16, 18, 20, 22, 24, 26, 27, 30, 32, 33, 34, 37, 38, 39, 41, 43, 45, 46, 50, 52, 53, 56, 57, 58, 63, 66, 69, 71, 72, 74, 77, 78, 79, 80, 81, 82, 85, 87, 88, 90, 91, 92, 94, 95, 96, 97, 99}

Lenght of the sample is : 56

No, the length is different!

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1-set2
print(set3)
print("\nLenght of the sample is :", len(set3), "\n")

{2, 9, 14, 15, 19, 21, 23, 25, 31, 35, 36, 42, 44, 47, 48, 51, 54, 55, 59, 60, 61, 62, 64, 65, 67, 68, 70, 73, 75, 76, 83, 84, 86, 89, 98, 100}

Lenght of the sample is : 36

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2-set1
print(set4)
print("\nLenght of the sample is :", len(set4), "\n")

{32, 1, 34, 58, 5, 72, 46, 78, 16, 50, 87, 26}

Lenght of the sample is : 12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)

print(set5)
print("\nLenght of the sample is :", len(set5), "\n")

{3, 4, 6, 7, 8, 10, 13, 18, 20, 22, 24, 27, 30, 33, 37, 38, 39, 41, 43, 45, 52, 53, 56, 57, 63, 66, 69, 71, 74, 77, 79, 80, 81, 82, 85, 88, 90, 91, 92, 94, 95, 96, 97, 99}

Lenght of the sample is : 44

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print("set1 is", len(set1), "long")
print("set2 is", len(set2), "long")
print("set3 is", len(set3), "long")
print("set4 is", len(set4), "long")
print("set5 is", len(set5), "long")

print("\nWe can see that",len(set3), ">", len(set1),  ">", len(set2),  ">", len(set5),  ">", len(set4))
print("Where len(set3) = len(set2) + len(set5) and set(3) = len(set4) + len(set5)")

set1 is 80 long
set2 is 56 long
set3 is 36 long
set4 is 12 long
set5 is 44 long

We can see that 36 > 80 > 56 > 44 > 12
Where len(set3) = len(set2) + len(set5) and set(3) = len(set4) + len(set5)

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3, set5)

print(set6)

{2, 3, 4, 6, 7, 8, 9, 10, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 27, 30, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set1 == set6:
    print("Yes, the sets are equal.")
else:
    print("No, the sets are not equal.")

Yes, the sets are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
if set2.issubset(set1) == True:
    print("Yes, set2 is within set1 and therefore a subset.")
else:
    print("No, set2 is not within set1 and therefore NOT a subset.")

No, set2 is not within set1 and therefore NOT a subset.

In [14]:
if set3.issubset(set1) == True:
    print("Yes, set3 is within set1 and therefore a subset.")
else:
    print("No, set3 is not within set1 and therefore NOT a subset.")

Yes, set3 is within set1 and therefore a subset.

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
set_A = set()

set_A = set3.union(set4)
set_A = set_A.union(set5)
print(set_A)

set_B = set()

set_B = set1.union(set2)
print("\n", set_B,"\n")

set_A == set_B
if set3.issubset(set1) == True:
    print("Yes, set3 is within set1 and therefore a subset.")
else:
    print("No, set3 is not within set1 and therefore NOT a subset.")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

Yes, set3 is within set1 and therefore a subset.

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
print(set1)

set1.pop()

print("\n", set1)

{2, 3, 4, 6, 7, 8, 9, 10, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 27, 30, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

 {3, 4, 6, 7, 8, 9, 10, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 27, 30, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_C = set(list_to_remove)
print(set_C,"\n")

set_D = set1 - set_C

print(set_D)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

{3, 4, 6, 7, 8, 10, 13, 14, 15, 18, 20, 22, 23, 24, 25, 27, 30, 33, 35, 36, 37, 38, 42, 43, 44, 45, 47, 48, 52, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 88, 90, 92, 94, 95, 96, 97, 98, 100}